body {
    background-color: #1a1a2e;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Screen hilne se rokne ke liye */
    touch-action: manipulation;
}

.game-container {
    text-align: center;
}

canvas {
    border: 3px solid #e94560;
    background: #000;
    display: block;
    margin: 0 auto;
    max-width: 90vw; /* Mobile screen ke mutabiq resize hoga */
}

.mobile-controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-row {
    display: flex;
    gap: 40px;
}

.btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background: #e94560;
    color: white;
    border: none;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 4px #c62842;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 0 0px #c62842;
}
